@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&amp;display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
    font-family: 'Noto Sans', 'Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'sans-serif';
}

html, body {
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, h7, p {
    transform: rotate(-0.03deg);
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --main-color: #c62828;
}

.background {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    background: url(../images/background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -99;
}



/*==================================================*/
@media (max-width: 850px) {
    .background {
        background-position: right;
    }
}

