footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #222;
}

.f-text p {
    color: #888;
    font-size: 14px;
}


/*==================================================*/
@media (max-width: 500px) {
    .f-text p {
        font-size: 12px;
    }
}